:root {
  --primary: #b46fef;
  --secondary: #571492;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(255, 255, 255);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* editor js */
.editorjs-container {
  margin-top: 2em;
  margin-left: 12em;
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 800px;
}

/* default view */
.default-view {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
  width: 80%;
}

.default-view h1 {
  color: var(--primary);
}

.default-view img {
  margin-top: 5em;
}

/* navbar */
main {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-weight: bold;
  color: #7e22ce;
  font-size: 1.5em;
  text-align: center;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  box-shadow: 10px 0px 10px -15px rgba(0, 0, 0, 0.75);
}
nav .profile {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.profile span {
  background-color: #7469b6;
  color: white;
  padding: 0.2em 2em;
  border-radius: 5em;
  font-size: 0.5em;
}

h1.title {
  margin-top: 2em;
  margin-bottom: 1em;
  background-color: #9333ea;
  color: white;
  padding: 0 2em;
  font-size: 1em;
  text-align: center;
}

.search-project {
  border-radius: 1em;
  margin-bottom: 1em;
  text-indent: 1em;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 200px;
  overflow-y: scroll;
  gap: 1em;
}

.btn {
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 1em;
  display: flex;
  align-items: center;
  padding: 1.8em 5em;
  gap: 2em;
  width: 180px;
  font-size: 0.2em;
}

.projects .btn-project {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects .btn-project .setting-project:hover {
  opacity: 0.5;
}

.btn-project .contents {
  gap: 1em;
  display: flex;
  align-items: center;
}

.btn-project .contents span {
  font-size: 0.2em;
}

.projects .project-active {
  background-color: var(--secondary);
}

.projects .btn-project:hover {
  background-color: var(--secondary);
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.btn-add {
  margin-top: 5em;
  background-color: rgb(127, 127, 127);
  color: white;
}

.btn-add:hover {
  cursor: pointer;
  transition: all 0.2s ease-in;
  background-color: rgb(192, 192, 192);
  color: rgb(36, 36, 36);
}

.btn-logout {
  background-color: #d52222;
  margin-bottom: 5em;
}

.btn-logout:hover {
  background-color: #991616;
  transition: all 0.2s ease;
  cursor: pointer;
}

.container-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.edit-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.btn-update {
  background-color: var(--primary);
  justify-content: center;
  color: white;
  text-align: center;
}

.btn-update:hover {
  background-color: var(--secondary);
  transition: all 0.2s ease;
  cursor: pointer;
}

.btn-delete {
  background-color: rgb(206, 0, 0);
  justify-content: center;
  color: white;
  text-align: center;
}

.btn-delete:hover {
  background-color: rgb(143, 0, 0);
  transition: all 0.2s ease;
  cursor: pointer;
}
